.header_wrapper {
    position: sticky;
    height: 0;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
}

.transparent {
    width: 100%;
    min-width: 946px;
    height: 74;
    position: absolute;
    background-color: transparent!important;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 30px 5px;
    box-sizing: border-box;
}

.nav {
    float: right;
    max-height: 74px;
    display: block;
}

.menu {
 margin-top: 20px;;
 padding: 0;
 outline: none;
 float:left;
 display: block;
}

.list {
    float:left;
}

.elementlink {
    font-size: 18px;
    padding: 27px 20px 23px;
    display: inline;
}